<footer>
    <p><a href="https://github.com/AAellen/tetjs">tetjs</a> - AAellen 2021</p>
    <span>
        <a href="https://github.com/AAellen">
            <img src="/img/github.svg" alt="Github" loading="lazy" decoding="async">
        </a>
        <a href="mailto:aaellen01@gmail.com">
            <img src="/img/mail.svg" alt="email" loading="lazy" decoding="async" alt="Github">
        </a>
    </span> 
</footer>
