<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs', {title: "Play"}) %>
<body>
    <nav>
        <a class="text" href="/play">Play</a>
    </nav>
    <div id="content">
        <header>
            <h1>Tetjs</h1>
            <p class="code">Real time tetris</p>
        </header>
    </div>
    <%-include('./partials/footer.ejs') %>
</body>
</html>